* {
	margin:0;
	padding: 0;
}

body {
  background-image: url("../img/bg_7_lr.jpg");
  background-size: cover;
  background-position:center;
  background-repeat:no-repeat;
  background-color:#2F3238;
  overflow:hidden;
  background-position-x: 70%;
}

.cover {
	background-color: rgba(0,0,0,0.6);
	width:100%;
	height:100%;
}

a, a:hover, a:visited {
	text-decoration:none;
	margin:0;
	border-style: none;
	border-width:0px;
	color:#ffffff;
}

.main {
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	width:600px;
	margin:-150px 0 0 -300px;
	min-width:600px;
	z-index: 1;
}

.main h1 {
	font-size: 3em;
	font-family: 'Raleway', sans-serif;
	font-weight:100;
	/*font-family: 'Helvetica Neue', sans-serif;*/
	color: rgb(255,255,255); /*rgb(188,188,188);*/
	text-shadow:2px 2px 1px #000000;
}
.main h2 {
	font-family: 'Raleway', sans-serif;
	font-weight:100;
	font-size: 1.8em;
	line-height: 1.4em;
	padding-top: 15px;
	color: #ffffff;
}
.main h2 span {
	font-weight:200;
	color: #45b682;
}

.nav {
	position: absolute;
	width: 100%;
	background: #2F3238;
	height: 50px;
	max-height: 50px;
	min-height: 50px;
	bottom: 0;
	z-index: 2;
}
.social-media {
	height:42px;
	width:42px;
	border-radius:21px;
}

.social-media:hover {
	box-shadow: 0px 0px 3px #ffffff;
}

.social-container{
	position:relative;
	left:50%;
	margin-left:-69px;
	top:4px;
	width:150px;
	max-width: 150px;
	height:42px;
	max-height: 42px;
}

.cv-container {
	position:absolute;
	width:100%;
	height:100px;
	bottom:50px;
	z-index:2;
}
.cv {
	width: 240px;
	height: 50px;
	max-height:50px;
	min-height:50px;
	float: right;
	background-color: rgb(0,0,0);
	text-align: center;
	color: rgb(255,255,255);
	font-weight: 600;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	top: 0px;
	right:0px;
	padding-top: 16px;
}
.text-responsive {
	display:none;
}

.mediators {
	transform: translateX(-44%) rotate(-90deg);
	-ms-transform: translateX(-44%) rotate(-90deg); /* IE 9 */
	-webkit-transform: translateX(-44%) rotate(-90deg); /* Safari and Chrome */
	color: #cccccc;
	position:absolute;
	bottom: 215px;
	font-size:0.7em;
	font-family:"Raleway", sans-serif;
	font-weight:100;
}
.mediators > a, .mediators > a:visited, .mediators > a:hover {
	color: #cccccc;
	font-weight:200;
}

@media only screen and (max-width: 580px), @media only screen and (max-device-width: 599px) {
	.main {
		width: 320px !important;
		min-width: 320px !important;
		max-width: 320px !important;
		margin-left: -160px !important;
	}
	body {
	  background-image: url("../img/bg_7_lr.jpg");
	  background-size: cover	 !important;
	  overflow:hidden;
	  min-width:320px !important;
	  width:100% !important;
	}
	.cv {
		width:110px !important;
	}
	.text-big {
		display:none;
	}
	.text-responsive {
		display:inline-block;
	}
}
@media only screen and (max-width: 320px), @media only screen and (max-device-width: 320px) {
}
