* {
	margin:0;
	padding: 0;
}

body {
  background-image: url("../img/background_lq.jpg");
  background-size: 1920px;
  overflow:hidden;
}

a {
	text-decoration:none;
	margin:0;
	border-style: none;
	border-width:0px;
}

.main {
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	width:600px;
	margin:-150px 0 0 -300px;
	min-width:600px;
}

.main h1 {
	font-size: 3em;
	font-family: 'Helvetica Neue', sans-serif;
	color: rgb(188,188,188);
	text-shadow:2px 2px 1px #000000;
}
.main h2 {
	font-family: sans-serif;
	font-size: 1.6em;
	line-height: 1.4em;
	padding-top: 15px;
}

.nav {
	position: absolute;
	width: 100%;
	background: #2F3238;
	height: 50px;
	bottom: 0;
	z-index: 2;
}
.social-media {
	padding-top:4px;
	height:42px;
	width:42px;
	border-radius:21px;
}

.social-media:hover {
	box-shadow: 0px 0px 3px #ffffff;
}

.social-container{
	position:relative;
	left:50%;
	margin-left:-69px;
	top:0px;
} 

@media only screen and (max-width: 599px), @media only screen and (max-device-width: 599px) {
	.main {
		width: 320px !important;
		min-width: 320px !important;
		margin-left: -160px !important;
	}
	body {
	  background-image: url("../img/background_lq.jpg");
	  background-size: cover !important;
	  overflow:hidden;
	  min-width:320px !important;
	  width:100% !important;
	}
}