* {
	margin:0;
	padding: 0;
}

body {
  background-image: url("../img/background_lq.jpg");
  background-size: cover;
}

.main {
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	width:600px;
	margin:-150px 0 0 -300px;
}

.main h1 {
	font-size: 3em;
	font-family: 'Helvetica Neue', sans-serif;
	color: rgb(188,188,188);
	text-shadow:2px 2px 1px #000000;
}
.main h2 {
	font-family: sans-serif;
	font-size: 1.6em;
	line-height: 2em;
}

.nav {
	position: absolute;
	width: 100%;
	background: #2F3238;
	height: 50px;
	bottom: 0;
	z-index: 2;
}
.social-media {
	padding-top:2px;
	height:46px;
	width:46px;
}
.social-container{
	position:relative;
	left:50%;
	margin-left:-69px;
} 